@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i|Rancho&display=swap');

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/backgrounds/default2.jpg);
  background-size: cover;
}

.form {
  height: 35%;
  min-height: 335px;
  width: 25%;
  min-width: 320px;
  background-color: rgba(243, 243, 243, 0.88);
  border-radius: 4%;
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25)  ;
}

.form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 80px 0;
}

h2 {
  font-family: 'Rancho',cursive;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

input {
  padding: 20px 60px;
  background-color: white;
  border-radius: 20px;
  border-width: 0.3px;
  border-color: rgb(247, 247, 247);
  box-shadow: 0px 4px 9px rgba(120, 120, 120, 0.2);
  font-size: 20px;
  text-align: center;
  color:rgb(63, 63, 63)
}

input:focus {
  outline: none;
}

.weather {
  height: 35%;
  min-height: 335px;
  width: 25%;
  min-width: 320px;
  background-color: rgba(243, 243, 243, 0.96);
  border-radius: 4%;
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

.date {
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  color: rgb(132, 132, 132);
  padding: 7% 0 0 5%;
}

.location {
  font-family: 'Rancho',cursive;
  font-size: 35px;
  padding: 0 0 0 5%;
}

.weather-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6% 5% 0 15%;
}

.current-temperature {
  font-family: 'Rancho',cursive;
  font-size: 135px;
}

.weather-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.description {
  font-family: 'Rancho', cursive;
  font-size: 32px;
}

.feels-like {
  font-family: 'Cabin', sans-serif;
  color: rgb(132, 132, 132);
  font-size: 15px;
}